/* Header, Footer------------------------- */
    
#header {
    position: static !important;
    margin-bottom: 50;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Bootstrap------------------------- */

/*  Off Canvas* --------------------------------------------------*/
@media screen and(max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%;
                /* 6 columns */;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%;
                /* 6 columns */;
    }

    .row-offcanvas-right.active {
        right: 50%;
                /* 6 columns */;
    }

    .row-offcanvas-left.active {
        left: 50%;
                /* 6 columns */;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
                /* 6 columns */;
    };
}
        
        
        
        
/* Map and Map controls------------------------- */
       
#vertical {
    height: 100%;
    border-left: 2px solid blue;
    position: absolute;
    left: 50%;
    z-index: 50;
}

#horizontal {
    width: 100%;
    border-top: 2px solid blue;
    position: absolute;
    top: 50%;
    z-index: 50;
}

#map {
    height: calc(100% - 50px);
    position: absolute;
    top:50;
    left: 0;
    right: 0;
    bottom:0;
}


#description {
    font-style: italic;
    color: #AAA;
    margin-bottom: 30px;
}

#map.leaflet-fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.leaflet-control-layers {
    box-shadow: 0 1px 7px rgba(0,0,0,0.4);
    background: #f8f8f9;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: overlay;
    max-height: 2000px; /* To set the maximum height for the expanded layer.control (important, if you want to display "all" Layers */
}



/* gropuped layers control */	

.leaflet-control-layers-group-name {
      font-weight: bold;
      margin-bottom: .2em;
      display: block;
    }

.leaflet-control-layers-group {
      margin-bottom: .5em;
    }

.leaflet-control-layers-group label {
      padding-left: .5em;
    }		


.leaflet-control-zoomslider-body {
    position: relative;
    left: 0px;
    width: 20px;
    border: solid #fff;
    border-width: 0px 9px 0px 9px;
    background-color: black;
    margin: 0 auto;
}

.leaflet-control-zoomslider {
    position: relative;
    left: 0px;
}

.leaflet-control-fullscreen {
    background-image: url(../leaflet.zoomfs/icon-fullscreen.png);
    left: 2px;
}

.leaflet-control-zoom {
    left: 2px;
}

.leaflet-control-zoom-in {
    visibility: hidden;
}

.leaflet-control-zoom-out {
    visibility: hidden;
}

.leaflet-control-zoom {
	height: 57px;
	width: 57px;
}

.leaflet-control-measure a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 26px;
    height: 26px;
    display: block;
    text-align: center;
    color: #ccc;
    text-decoration: none;
    font: bold 25px/25px Arial,Helvetica,sans-serif;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

//for measurement tool        
.leaflet-control.enabled a {
    background-color: yellow;
}

.leaflet-draw-toolbar-button-enabled  {
    background-color: yellow;
}  


        
//uncomment this to hide the zoom in/out part of slider widget
/*
.leaflet-control-zoomslider-in {
    visibility: hidden;
}
        
.leaflet-control-zoomslider-out {
    visibility: hidden;
}
*/



/* Buttons------------------------- */

#sidebar_button_focus {
    position: fixed;
    bottom: 180px;
    left: 60px;
    height: 25px;
    width: 150px;
    background-color: GreenYellow;
}
        
        
#sidebar_button {
    position: fixed;
    bottom: 210px;
    left: 60px;
    height: 25px;
    width: 150px;
    background-color: GreenYellow;
}

#sidebar_button_speech {
    position: fixed;
    bottom: 240px;
    left: 60px;
    height: 25px;
    width: 150px;
    background-color: GreenYellow;
}

#projects_button {
    position: fixed;
    bottom: 270px;
    left: 60px;
    height: 25px;
    width: 150px;
    background-color: GreenYellow;
}

#start_button {
    float: left;
    margin-bottom: 0px;
}

#LayerOnStreet {
    float: left;
    margin-bottom: 10px;
}

#LayerOffStreet {
    float: left;
    margin-bottom: 10px;
}

#LayerOnPopStructure {
    float: left;
    margin-bottom: 10px;
}

#LayerOffPopStructure {
    float: left;
    margin-bottom: 10px;
    #text {
                float: left;
}
        }

#command_animation {
    position: absolute;
    z-index: 20;
    text-align: center;
    top: 50%;
    left: 45%;
    font-family: Georgia, serif;
    font-style: italic;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #eee;
}

.sidebar {
    text-align: center;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.SidebarBorder {
    position: absolute;
    text-align: center;
    color: gray;
    font-size: large;
    font-weight: bold;
    border-right: solid;
    border-right-color: rgb(180,180,180);
    border-right-Width: 2px;
}

.SidebarTitle {
    font: 16px/18px Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 6%;
    margin-bottom: 7px;
}

.SidebarContent {
    overflow-y: auto;
}

.SidebarItem {
    border: solid;
    border-width: 1px;
    margin: 4px;
    margin: 4px;
}    





/* ============================================================================================================================
== OVAL SPEECH BUBBLE (more CSS3)
** ============================================================================================================================ */

#transcriptBubble{
  z-index: 3;
  width: 20%;
  left: -30%;
  position:relative;
  padding:70px 30px;
  margin: -13em auto 60px;
  font-size: large;

}

.oval-speech-border {
  z-index: 3;
  width: 20%;
  left: -30%;
  position:relative;
  padding:70px 30px;
  margin:1em auto 60px;
  border:2px solid #000000;
  text-align:center;
  color:#333;
  background:#fff;
  /* css3 */
  /*
  NOTES:
  -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:240px 140px;
  -webkit-border-top-right-radius:240px 140px;
  -webkit-border-bottom-right-radius:240px 140px;
  -webkit-border-bottom-left-radius:240px 140px;
  -moz-border-radius:240px / 140px;
  border-radius:240px / 140px;
}

/* creates larger curve */
.oval-speech-border:before {
  content:"";
  position:absolute;
  z-index:2;
  bottom:140px;
  right:50%;
  width:50px;
  height:30px;
  border-style:solid;
  border-width:0px 0px 0px 10px;
  border-color:#000000;
  margin-right:-45px;
  background:transparent;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px 100px;
  /* reduce the damage in FF3.0 */
  display:block;
}


/* creates a small circle to produce a rounded point where the two curves meet */
.oval-speech-border > :first-child:before {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-40px;
  right:50%;
  width:10px;
  height:10px;
  margin-right:45px;
  background:#f3961c;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.oval-speech-border > :first-child:after {
  content:"";
  position:absolute;
  z-index:1;
  bottom:-10px;
  right:50%;
  width:30px;
  height:15px;
  background:#fff;
}

#oval-speech-border-div {
margin-top: 80px;
}